<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center position-relative">
      <h1>Facebook</h1>
      <img class="fondo-titulo position-absolute" src="../../assets/img/fondo-naranja.svg">
    </ion-title>
    <ion-buttons slot="end">
      <button click="presentAlert()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>  
</ion-content>