.fondo-titulo{
    top: 10;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}
h1{
    font-family: FreightSansProSemibold;
    font-size: 15px;
    line-height: 1.31;
    letter-spacing: 0.39px;
    color: #ffffff;
}